aiohttp==3.8.1
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.10.0
chardet==4.0.0
decorator==5.1.0
idna==3.3
multidict==5.2.0
python-dotenv==0.19.2
six==1.16.0
soupsieve==2.3.1
typing-extensions==4.0.1
validators==0.18.2
yarl==1.7.2
